* {
	font-family : Arial, Helvetica, sans-serif;
}

body {
	background-color : White;
	color : Black;
}

h1 {
	color : #0060BF;
}

h2 {
	color : #0060BF;
}

h3 {
	color : #0060BF;
}

h4 {
	color : #0060BF;
}

a {
	color : #0060BF;
	text-decoration : none;
}


